$dark: #212121; // Equivalent to MUI grey900
$medium: #616161; // Equivalent to MUI grey700
$light: #bdbdbd; // Equivalent to MUI grey400
$veryLight: #eeeeee; // Equivalent to MUI grey200
$lightRed: #e57373; // Equivalent to MUI red300
$blue: #0288d1;
$red: #e53935; // Equivalent to MUI red600
$lightAmber: #ffd54f; // Equivalent to MUI amber300
$amber: #ffb300; // Equivalent to MUI amber600

$zIndexDefaultCell: 0;
$zIndexFocusedCell: 1;
$zIndexClueIndex: 1;
$zIndexCellContextMenu: 2;
$zIndexOverlay: 3;

$marSmall: 10px;
$marMed: 20px;
$marBig: 45px;
