@import 'constants';

*, html {
    box-sizing: border-box;
    font-family: 'Radley', serif;
    color: $dark;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}


.Puzzle {
    position: relative;
    border-top: 2px solid $dark;
}

@media (min-width: 900px) {
    .AppWidth- {
        margin: 0 auto;
        width: 900px;
    }
}

@media (max-width: 900px) {
    .AppWidth- {
        margin: 0;
        width: 100%;
    }
}
