@import 'constants';


.Clues {
    position: relative;
    overflow: visible;

    .Clues_header-container {
        font-size: 18px;
        text-align: center;
        padding-top: 10px;
        font-weight: bold;
        width: 100%;
    }
    ol {
        list-style: none;
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0;
    }
    .Clues_spacer {
        height: 10px;
        border-bottom: 1px solid $medium;
        margin: 0 25%;
        position: relative;
    }
    .Clues_Clue_idx {
        margin-right: 8px;
        display: inline-block;
        width: 15px;
        text-align: right;
        color: $medium;
        vertical-align: top;
    }
    .Clues_Clue_text {
        display: inline-block;
        width: calc(100% - 30px);
        white-space: normal;
        overflow-wrap: break-word;
    }
    .Clues_Clue {
        padding: 2px 0;
        padding-left: 15px;
        margin-right: 10px;
        width: 170px;
        position: relative;
        cursor: pointer;
    }
    .Clues_Clue-selected {
        &.Clues_Clue-selected-primary {
            background-color: $lightAmber;
            cursor: default;
            border-radius: 3px;
        }

        &:before {
            content: ' ';
            display: inline-block;
            position: absolute;
            left: 3px;
            top: 11px;
            width: 5px;
            height: 5px;
            border-radius: 5px;
            background-color: $lightAmber;
        }
    }
}
