@import 'constants';


.Grid_GridContent-container {
    overflow: visible;
    position: relative;
    top: 0;
    display: inline-block;
    text-align: center;
    border-right: 1px solid $veryLight;
}

.Grid_PuzzleStats-container {
    border-top: 1px solid $veryLight;
}

.Grid_GridClues-container {
    margin-left: $marMed;
    position: relative;
}

.Grid_GridClues-container_col {
    display: inline-block;
}

.Clues {
    display: inline-block;
}

.Grid_HorizontalContainer {
    width: 100%;
    overflow: visible;
    white-space: nowrap;
}

.Grid_MainBuilder {
    margin-bottom: $marBig;
}

.Grid_VerticalContainer {
    display: inline-block;
    height: 100%;
    overflow: visible;
}
