@import 'constants';

.GridContent {
    border: thin solid $dark;
    position: relative;
    display: inline-block;
}

.GridCell {
    display: inline-block;
    border: thin solid $dark;
    z-index: $zIndexDefaultCell;

    &.GridCell-focused {
        border: 2px solid $red;
        z-index: $zIndexFocusedCell
    }
    &.GridCell-highlight {
        background-color: $lightAmber;
    }

    &.GridCell-type-block {
        border: thin solid $dark;
        background-color: $dark;

        &.GridCell-focused {
            border-color: $medium;
        }
    }
}

.GridCell_value {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    color: $dark;
    border: 0;
    outline: none;
    position: absolute;
    left: 1px;
    top: 1px;
    font-size: 20px;
    text-align: center;
    padding: 0;
}

.GridCell_clueIdx {
    font-family: arial, sans-serif;
    color: $medium;
    z-index: $zIndexClueIndex;
    font-size: 8px;
    position: absolute;
    left: 2px;
    top: 2px;
    pointer-events: none;
    user-select: none;
}
