@import 'constants';


.Header {
    width: 100%;
    color: $dark;
    text-align: center;

    h1 {
        font-family: 'UnifrakturMaguntia', cursive;
        font-size: 50px;
        margin-bottom: $marMed;
    }

}
