@import 'constants';


.Layout_GridContent-container {
    overflow: visible;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.Layout_GridClues-container {
    margin-left: $marMed;
    position: relative;
}

.Layout_GridClues-container_col {
    display: inline-block;
}

.Clues {
    display: inline-block;
}

.Layout_HorizontalContainer {
    width: 100%;
    overflow: visible;
    white-space: nowrap;
    position: relative;
}

.Layout_VerticalContainer {
    display: inline-block;
    height: 100%;
    overflow: visible;
    position: relative;
}
